body {
    margin: 0;
    padding: 0;
}

div {
    margin: 10px;
}

nav {
    background-color: gray;
    display: flex;
    align-items: center;
}

header {
    text-align: center;
}

a {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

a:first-child {
    margin-right: auto;

}

a:hover {
    background-color: blue;
}

.img {
    width: 50px;
}

.form-input-div:hover {
    color: white;
    background-color: blue;
}

input {
    margin: 8px;
    padding: 8px;
}